# Import package dependencies
import(qtl)
import(fields)

# Export all names
export(getprofile, plotprofile)
export(scanoneF)
export(refineqtlF, addqtlF)
export(stepwiseqtlF)
export(plotlod, scanoneM)
export(refineqtlM, stepwiseqtlM)
export(calcpca)
export(geteffects)


# exportPattern("^[[:alpha:]]+")

# Hidden functions
#   scanqtlfn
#   addintM
#   scanqtlM
#   addqtlF
#   addqtlM
#   fitqtlM
